/*стили панели навигации*/

nav.navbar-default {
	margin: 0;
	padding: 0;
}

.navbar-brand {
	font-size: 25px;
}


#city_info {
	height: 500px;
	background-image: url('images/dolgopa.jpg');
	background-size: cover;
	margin: 0;
	padding: 0;
}


/*стили списка контейнеров*/
#containers {
	height: 500px;
	font-size: 30px;
}

h1 {
	text-align: center;
	padding-bottom: 1%;
}

/*стили форм добавления нового контейнера*/

input {
	width: 80%;
	text-align: center;
	margin: 2%;
}

button {
	margin: 2%;
}

#new_bin_info {
	margin: 2%;
}

#new_bin {
	margin-top: 2%;
}

.hidden_menu {
	height: 0px;
	visibility: hidden;
}

.visible_menu {
	visibility: visible;
}



/*стили страницы одного контейнера*/
#measurement_list {
	text-align: center;
}

#measurement_list h1 {
	text-align: center;
}


/**/
.unload_button, .add_button, .add_button_percent, .unload_button_percent {
	margin: 1%;
	padding-bottom: 2%;
	border: solid black 1px;
	text-align: center;
	cursor: pointer;
}


#new_measure_info, #new_measure_info_percent, #new_unload_info, #new_unload_info_percent {
	text-align: center;
}


