/*страница авторизации и регистрации*/
#auth_page {
	height: 100%;
	background-image: url('images/main.jpg');
	background-size: cover;
	font-size: 400%;
}


#root_page {
	height: 100%;
	background-image: url('images/nature.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display: inline;
	font-size: 400%;
}


/*стили панели навигации*/

nav.navbar-default {
	margin: 0;
	padding: 0;
}

.navbar-brand {
	font-size: 25px;
}


#city_info {
	height: 240px;
	background-image: url('images/dolgopa2.jpg');
	background-size: cover;
	color: white;
	font-style: bold;
	margin: 0;
	padding: 0;
}


/*стили списка контейнеров*/
#containers {
	height: 500px;
	font-size: 30px;
}

h1 {
	text-align: center;
	padding-bottom: 1%;
}




/*Стили выжимки про контейнер*/
.short_bin_info {
    		margin: 3% 0;
    		text-align: center;
    		
    	}

#short_bin_info {
	background-color: rgb(247, 231, 153);
}

/*стили форм добавления нового контейнера*/

.add_form {
    	text-align: center;
    	vertical-align: middle;
}

.add_select {
	padding-top: 0.5%;
}

input {
	width: 80%;
	text-align: center;
	margin: 2%;
}

button {
	margin: 2%;
}

#new_bin_info {
	margin: 2%;
}

#new_bin {
	margin-top: 2%;
}

.hidden_menu {
	height: 0px;
	visibility: hidden;
}

.visible_menu {
	visibility: visible;
}



/*стили страницы одного контейнера*/
#measurement_list {
	text-align: center;
}

#measurement_list h1 {
	text-align: center;
}

span {
    	padding: 2%;
    	font-size: 20px;
}
span.measure_error {
	font-size: 15px;
    }


/**/



#new_measure_info, #new_measure_info_percent, #new_unload_info, #new_unload_info_percent, #new_event_info {
	text-align: center;
}




#warehouse_info_for_bins {
	height: 150px;
	background-image: url('images/warehouse1.jpg');
	background-size: cover;
	color: white;
	font-style: bold;
	margin: 0;
	padding: 0;
}



/*soZnaik*/

