/*стили панели навигации*/
nav.navbar-default {
	margin: 0;
	padding: 0;
}

.navbar-brand {
	font-size: 25px;
}


#city_info {
	height: 500px;
	background-image: url('images/dolgopa.jpg');
	background-size: cover;
	margin: 0;
	padding: 0;
}


/*стили списка контейнеров*/
h1 {
	text-align: center;
	padding-bottom: 1%;
}

#containers {
	height: 500px;
	font-size: 30px;
}

input {
	width: 100%;
	text-align: center;
}

#new_bin_info {
	margin: 2%;
}

#new_bin {
	margin-top: 2%;
}

.hidden_menu_for_add {
	height: 0px;
	visibility: hidden;
}

.visible_menu_for_add {
	visibility: visible;
	height: 100px;
}

