<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<meta http-equiv='Content-Type' content = 'text/html; charset=utf-8' />
	<script src="http://yastatic.net/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="http://yastatic.net/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://yastatic.net/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel = 'stylesheet' type = 'text/css' href = '{% static "style.css" %}' /> 
    <script src= '{% static "script.js" %}'></script>
    <script type="text/javascript">
    $(document).ready(function() {
    	function setActiveElement(menu_list, bufer_list, id_string) {
    		console.log(id_string);
    		if (!($('div').is(id_string))) {
    			var this_index = 0;
    			for (var j = 0; j < menu_list.length; j++) {
    				if (id_string == menu_list[j]) {
    					console.log(j, menu_list[j]);
    					this_index = j;
    				}
    			}
    			console.log(this_index);
	    		for (var i = 0; i < menu_list.length; ++i) {
	    			if ($('div').is(menu_list[i])) {
	    				buffer_list[i] = $(menu_list[i]).detach();
	    				buffer_list[this_index].appendTo($('div#table_title'));
	    			}
	    		}
	    	}
    	};
    	menu_list = ['#simple_bins_list', '#ordered_bins_list'];
    	buffer_list = [$('#simple_bins_list').detach(), $('#ordered_bins_list')];
    	$('#Chronology').click(function(event) {
    		setActiveElement(menu_list, buffer_list, '#simple_bins_list')
    	});

    	$('#Date').click(function(event) {
    		setActiveElement(menu_list, buffer_list, '#ordered_bins_list')
    	});

    	$('.logout').click(function(event) {
		console.log('fuck');
        $.ajax({
            type: 'GET',
            url: '{% url "control_measure:log_out" %}'
        });
    });

    });
    </script>
    <style type="text/css">
    	.navbar a {
    		color: white;
    	}

    	.main_digits {
    		padding-top: 2%;
    		text-align: center;
    		font-size: 500%;
    	}
    	.main_digits_description {
    		text-align: center;
    		font-size: 200%;
    	}
    </style>
    <title>Наши контейнеры</title>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand navbar-center" href="/">ZnaiK 1.4</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Город</a></li>
        <li><a href="#">Офис</a></li>
        <li><a href="warehouse">Склад</a></li>
        <li><a href="" class="logout">Выйти</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id = 'city_info'>
	<div class="row main_digits">
		<div class="col-xs-2"></div>
		<div class="col-xs-4"> {{pace}} м3 </div>
		<div class="col-xs-4"> {{volume}} м3 </div>
		<div class="col-xs-2"></div>
	</div>
	<div class="row main_digits_description">
		<div class="col-xs-2"></div>
		<div class="col-xs-4"> Темп прироста пластика в сутки </div>
		<div class="col-xs-4"> Пластика сейчас в контейнерах</div>
		<div class="col-xs-2"></div>
	</div>
</div>


<div class="container" id = "containers">
	<h1> Контейнеры в городе </h1>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			<button type="button" id="Chronology">Хронологически</button>
		</div>
		<div class="col-md-4">
			<button type="button" id="Date">По дате вывоза</button>
		</div>
	</div>
	{% if bins_list %}
		<div class="row" id ="table_title">
	    	<div class="col-xs-1"> #</div>
	    	<div class="col-xs-4">Адрес</div>
	    	<div class="col-xs-2">Fill</div>
	    	<div class="col-xs-2">Темп(%)</div>
	    	<div class="col-xs-3">Вывоз</div>
	    </div>
	    <div id = "simple_bins_list">
		    {% for bin in bins_list %}
		    <a href="/{{bin.bin_id}}/">
			    <div class="row bin_info">
			    	<div class="col-xs-1">{{ forloop.counter }}</div>
			    	<div class="col-xs-4">{{ bin.bin_adress }}</div>
			    	<div class="col-xs-2">{{ bin.bin_get_current_fill_percentage }}%</div>
			    	<div class="col-xs-2">{{ bin.bin_get_average_pace_per_day_output }}%</div>
			    	<div class="col-xs-3">{{ bin.bin_get_upload_date }} </div>
			    </div>
		    </a>
		    {% endfor %}
	    </div>
	    
	    <div id = "ordered_bins_list">
		    {% for bin in bins_list_ordered %}
		    <a href="/control_measure/{{bin.bin_id}}/">
			    <div class="row bin_info">
			    	<div class="col-xs-1">{{ forloop.counter }}</div>
			    	<div class="col-xs-4">{{ bin.bin_adress }}</div>
			    	<div class="col-xs-2">{{ bin.bin_get_current_fill_percentage }}%</div>
			    	<div class="col-xs-2">{{ bin.bin_get_average_pace_per_day_output }}%</div>
			    	<div class="col-xs-3">{{ bin.bin_get_upload_date }} </div>
			    </div>
		    </a>
		    {% endfor %}
	    </div>
	{% else %}
	    <p>No bins are available.</p>
	{% endif %}
	<div class="container">
		<div class="row">
			<div class='col-md-4'></div>
			<div class='col-md-4 col=xs=12'>
				<button id="new_bin">Новый контейнер</button>
			</div>
		</div>
		<div class="row hidden_menu" id = "new_bin_info">
			<form action = '{% url "control_measure:add_bin"  %}' method = 'post' >
				{% csrf_token %}
				<div class='col-xs-3 add_form'>
					<input type = "text" name="bin_adress" placeholder = "Адрес"/>
				</div>
				<div class="col-xs-6 add_form add_select">
					<select name="bin_type">
						<option disabled selected="selected">Тип контейнера</option>
						{% for bin_type in types %}
						<option value={{ bin_type.type_short_name }}> {{ bin_type.type_name }} {{ bin_type.type_length }}x{{ bin_type.type_width }}x{{ bin_type.type_heigth }}</option>
						{% endfor %}
					</select>
				</div>
				<div class='col-xs-3 add_form'>
					<input type = 'submit' value = 'Добавить'/>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>