<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<meta http-equiv='Content-Type' content = 'text/html; charset=utf-8' />
	<script src="http://yastatic.net/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="http://yastatic.net/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://yastatic.net/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel = 'stylesheet' type = 'text/css' href = '{% static "style.css" %}' /> 
    <script src= '{% static "script.js" %}'></script>	
    <script src= '{% static "Chart.js" %}'></script>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">	
    <script type="text/javascript">
    $(document).ready(function() {

    	







    	var menuList = ["#bin_module", "#measurements_module", "#speed_module", "#history_modul"];
    	var bufferList = [$("#bin_module").detach(), $('#measurements_module'), $('#speed_module').detach(), $('#history_modul').detach()];

    	function setActiveDivId (id_string) {
    		console.log(id_string);
    		if (!($('div').is(id_string))) {
    			var this_index = 0;
    			for (var j = 0; j < menuList.length; j++) {
    				if (id_string == menuList[j]) {
    					console.log(j, menuList[j]);
    					this_index = j;
    				}
    			}
    			console.log(this_index);
	    		for (var i = 0; i < menuList.length; ++i) {
	    			if ($('div').is(menuList[i])) {
	    				bufferList[i] = $(menuList[i]).detach();
	    				bufferList[this_index].appendTo($('div#page_content'));
	    			}
	    		}
	    	}
    	};
    	//var measurements_module_buffer = ;
    	//var	bin_buffer = $("#bin_module");
    	$('#bin_link').click(function(e){
	    		//measurements_module_buffer = $('div#measurements_module').detach();
	    		//bin_module_buffer.appendTo('#short_bin_info');
    			console.log("click bin link");
	    		setActiveDivId("#bin_module");	    	
    	});

    	$('#measurements_link').click(function(e){
    		//bin_module_buffer = $('div#bin_module').detach();
    		//measurements_module_buffer.appendTo('#short_bin_info');
    		setActiveDivId("#measurements_module");	
    	});

    	$('#history_lin').click(function(e){
    		//bin_module_buffer = $('div#bin_module').detach();
    		//measurements_module_buffer.appendTo('#short_bin_info');
    		console.log("click history link");
    		setActiveDivId("#history_modul");	
    	});
    	

    	$('#speed_link').click(function(e) {
    		//bin_module_buffer = $('div#bin_module').detach();
    		//measurements_module_buffer.appendTo('#short_bin_info');
    		var chartLabels = []
    		var chartData = []
    		setActiveDivId("#speed_module");
    		$.getJSON('{% url "control_measure:data_for_chart" a_bin.bin_id %}', function(data){
    			for (var i in data) {
    				var cool_date = data[i].day + "/";
    				if (data[i].month < 10) {
    					cool_date += "0";
    				}
    				cool_date += data[i].month;
    				chartLabels.push(cool_date);
    				chartData.push(parseInt(data[i].pace));
    			}
    			console.log(chartData);
    			console.log(chartLabels);
    			addChart(chartLabels, chartData);
    		}, function(data) {
    			console.log('Error');
    		});
    		
    			
    	});


    	//обработчики кнопки Эдобавить измерение в процентах
		$('.add_button_percent').click(function(event){
			if ($('#new_measure_info_percent').hasClass('hidden_menu')) {
				$('#new_measure_info_percent').removeClass('hidden_menu');
				$('#new_measure_info_percent').addClass('visible_menu');
			}
			else {
				$('#new_measure_info_percent').removeClass('visible_menu');
				$('#new_measure_info_percent').addClass('hidden_menu');
			}
		});

		$('.unload_button_percent').click(function(event){
			if ($('#new_unload_info_percent').hasClass('hidden_menu')) {
				$('#new_unload_info_percent').removeClass('hidden_menu');
				$('#new_unload_info_percent').addClass('visible_menu');
			}
			else {
				$('#new_unload_info_percent').removeClass('visible_menu');
				$('#new_unload_info_percent').addClass('hidden_menu');
			}
		});

		$('.add_event').click(function(event){
			if ($('#new_event_info').hasClass('hidden_menu')) {
				$('#new_event_info').removeClass('hidden_menu');
				$('#new_event_info').addClass('visible_menu');
			}
			else {
				$('#new_event_info').removeClass('visible_menu');
				$('#new_event_info').addClass('hidden_menu');
			}
		});


    	$('#button_volume_current').click(function(event){
			var now = new Date();
			var day = now.getDate();
			var mon = now.getMonth() + 1;
			var year = now.getFullYear();
			if (day < 10)
				day = "0" + day;
			if (mon < 10)
				mon = "0" + mon;
			var current_date = year + "-" + mon + "-" + day;
			//alert(current_date);
			$('#date_of_volume').attr("value", current_date);
			$('#date_of_volume').attr("placeholder", "");
	});

    	$('#current_date_percent').click(function(event){
		var now = new Date();
		var day = now.getDate();
		var mon = now.getMonth() + 1;
		var year = now.getFullYear();
		var hours = now.getHours()
		var minutes = now.getMinutes();
		if (day < 10)
				day = "0" + day;
		if (mon < 10)
			mon = "0" + mon;
		if (hours < 10)
			hours = "0" + hours;
		if (minutes < 10)
			minutes = "0" + minutes;
		var current_time = hours + ":" + minutes;
		var current_date = year + "-" + mon + "-" + day;
		//alert(current_date);
		$('#date_of_measurement_percent').attr("value", current_date);
		$('#time_of_measurement_percent').attr("value", current_time);
		$('#date_of_measurement_percent').attr("placeholder", "");
		$('#time_of_measurement_percent').attr("placeholder", "");
	});


	$('#button_unload_current_percent').click(function(event){
			var now = new Date();
			var day = now.getDate();
			var mon = now.getMonth() + 1;
			var year = now.getFullYear();
			var hours = now.getHours();
			var minutes = now.getMinutes();
			var current_date = year + "-" + mon + "-" + day;
			var current_time = hours + ":" + minutes;
			//alert(current_date);
			$('#date_of_upload_percent').attr("value", current_date);
			$('#time_of_upload_percent').attr("value", current_time);
			$('#date_of_upload_percent').attr("placeholder", "");
			$('#time_of_upload_percent').attr("placeholder", "");
	});

	$('#button_event_current').click(function(event){
			console.log("now click");
			var now = new Date();
			var day = now.getDate();
			var mon = now.getMonth() + 1;
			var year = now.getFullYear();
			var current_date = year + "-" + mon + "-" + day;
			//alert(current_date);
			$('#date_of_event').attr("value", current_date);
			$('#date_of_event').attr("placeholder", "");
	});



	/*Нужно для тестиорования разных прогнозных моделей*/

	/*$('#count_error').click(function(event) {
		$.ajax({
			url: '{% url "control_measure:count_error" a_bin.bin_id %}',
			success: function(){
				console.log('successfully ajaxed');
			}
		});
	});*/


    	function addChart (chartLabels, chartData) {
			var lineChartData = {
				labels : chartLabels,
				datasets : [					
					{
						label: "My Second dataset",
						fillColor : "rgba(151,187,205,0.2)",
						strokeColor : "rgba(151,187,205,1)",
						pointColor : "rgba(151,187,205,1)",
						pointStrokeColor : "#fff",
						pointHighlightFill : "#fff",
						pointHighlightStroke : "rgba(151,187,205,1)",
						data : chartData
					}
				]
			};
			var ctx = document.getElementById("myChart").getContext("2d");
			myLine = new Chart(ctx).Bar(lineChartData, {
				 scaleShowGridLines : true,
			});
			//myChart.reDraw();
		};

		$('.logout').click(function(event) {
			console.log('fuck');
	        $.ajax({
	            type: 'GET',
	            url: '{% url "control_measure:log_out" %}'
	        });
	        window.location.reload();
	    });


   	});
    </script>
    <style type="text/css">
    	#short_bin_info {
    		width: 100%;
    		vertical-align: middle;
    		margin-bottom: 2%;
    	}

    	#speed_module {
    		text-align: center;
    		position: relative;
    	}
    	#speed_module>h1 {
    		margin: 0;
    	}

    	header.mdl-layout__header {
    		background-color: rgb(53, 59, 90);
    		font: black;
    	}
    	.measurements_table_header {
    		margin-bottom: 2%;
    		font-size: 20pt;
    	}

    	.measurements_rows {
    		font-size: 18pt;
    		padding: 1.5% 0%;
    		border-top: black solid 1px;

    	}

    	.measurements_rows:hover {
    		background-color: #D5DBED;
    	}

    	.unload_row {
    		padding-bottom: 2%;
    	}

    	.unload_button, .add_button, .add_button_percent, .unload_button_percent, .add_event {
			margin: 1% 0%;
			padding: 4% 0%;
			border: solid rgb(53, 59, 90) 2px;
			text-align: center;
			cursor: pointer;
			width: 100%;
		}

		

		.add_button_percent>span, .unload_button_percent>span {
			font-size: 250%;
			color: rgb(53, 59, 90);
		}

		input {
			border: 2px solid #353a5a;
			background: #ffffff;
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
			color: #353b5a;
			-webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
			-moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
			box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
			padding:3%;
			margin-bottom:20px;
			width: 90%;
			font-size: 200%;
		}

		.juicy_button {
			border: 2px solid #353a5a;
			background: #353a5a;
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
			color: #ffffff;
			padding:3%;
			margin-bottom:20px;
			width: 50%;
			font-size: 200%;
			vertical-align: middle;
		}

		.juicy_button:hover {
			background: rgb(247, 231, 153);
			color: #353a5a;

		}

		.field_to_add_mass {
			height: 30px;
			font-size: 100%;
			padding: 0;
			margin:0;
			vertical-align: middle;
		}

		span.time_icon {
			font-size: 100%;
		}

		

		#bin_module>div>div {
			padding: 1%;
		}

		/*div#count_error {
			cursor: pointer;
		}*/

    </style>
    <title>Наши контейнеры</title>
</head>
<body>

<!--Панель навигации -->

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title"> <a href="/" style = "color: white; text-decoration: none;"> Znaik 1.5 </a> </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="/city">Город</a>
        <a class="mdl-navigation__link" href="/office">Офис</a>
        <a class="mdl-navigation__link" href="/warehouse">Склад</a>
        <a class="mdl-navigation__link logout" href="">Выйти</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Меню</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" id = "bin_link">Контейнер</a>
      <a class="mdl-navigation__link" id = "measurements_link">Измерения</a>
      <a class="mdl-navigation__link" id = "speed_link">Скорости</a>
      <a class="mdl-navigation__link" id = "history_lin">История</a>
    </nav>
  </div>
 
    <!-- Your content goes here -->


    <div id = "page_content">
		<div class="container" id="short_bin_info">
			<div class="row try_make_juice">
				<div class="row short_bin_info">
					<div class="col-md-3 col-xs-12">
						<span>Адрес: {{ a_bin.bin_adress }}</span>
					</div>
					<div class="col-md-3 col-xs-12">
						<span>Скорость: {{ a_bin.bin_get_average_pace_per_day_output }}% в сутки</span>
					</div>
					<div class="col-md-3 col-xs-12">
						<span>Заполнен на: <span id = "bin_id">{{ a_bin.bin_get_current_fill_percentage }}%</span></span>
					</div>
					<div class="col-md-3 col-xs-12">
						<span>Вывоз: {{ a_bin.bin_get_upload_date }}</span>
					</div>
				</div>
			</div>
		</div>
		<!--Список измерений -->

		<div id="measurements_module">
			<div class="container" id = "measurement_list">
				{% if a_bin.bin_get_last_five_measurements %}
					<div class="row measurements_table_header">
						<div class="col-xs-4"> Дата </div>
						<div class="col-xs-4"> Уровень заполненности </div>
						<div class="col-xs-4"> <div id = "count_error"> Прогноз - Факт </div> </div>
					</div>
					{%	for measurement in a_bin.bin_get_last_five_measurements %}
						<div class="row measurements_rows">	
							{% if measurement.measurement_bag %}
								<div class="row unload_row">
									<div class="col-md-4"> <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> </div>
									<div class="col-md-4"> Мешок: {{ measurement.measurement_bag }} </div>
									
										{% if measurement.measurement_mass %}
											<div class="col-md-4">
											Масса: {{ measurement.measurement_mass }} кг
											</div>
										{% else %}
											<form action = '{% url "control_measure:add_mass" a_bin.bin_id measurement.id %}' method = 'post'>
												{% csrf_token %}
												<div class="col-md-3" style="text-align:center">
												<input type = "text" class="field_to_add_mass" name = "measurement_mass_{{measurement.id}}" id = "measurement_mass_{{measurement.id}}" placeholder = "Масса пластика"  />
												</div>
												<div class="col-md-1">
												<input type="submit" value = "+" class="field_to_add_mass juicy_button"/>
												</div>
											</form>
										{% endif %}
									
								</div>
							{% endif %}
							<div class="row">	
								<div class="col-xs-4"> {{ measurement.measurement_date }} </div>
								<div class="col-xs-4"> {{ measurement.measurement_volume }}л/{{ measurement.measurement_get_percentage }}% </div>
								{% if measurement.measurement_error %}
									<div class="col-xs-4"> <span class = "measure_error"></span> {{measurement.measurement_error}}% </div>
								{% else %}
									<div class="col-xs-4"> - </div>
								{% endif %}
							</div>
						</div>
					{% endfor %}
				{% else %}
					<div class="row">
						<div class="col-md-3"></div>
						<div class="col-md-6 col-xs-12">
							<h2>Пока нет измерений</h2>
						</div>
					</div>
					
				{% endif %}
			</div>
			<br>
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-xs-12">
						<div class="container-fluid">
							<div class="row add_button_percent">
								<span> Измерение в % </span>
							</div>
							<div class="row hidden_menu" id = "new_measure_info_percent">
								<form action = '{% url "control_measure:add_measurement_percent" a_bin.bin_id %}' id = "form_add_percent" class="juicy_form" method = 'post' >
									{% csrf_token %}
									<div class='row'>
										<input type = "text" name="measurement_date_percent" id="date_of_measurement_percent" placeholder = "Дата" />
									</div>
									<div class='row'>
										<input type = "text" name="measurement_time_percent" placeholder = "Время" id = "time_of_measurement_percent"/>
									</div>
									<div class='row'>
										<button type="button" id="current_date_percent" class="juicy_button">Сейчас</button>
									</div>
									<div class='row'>
										<input type = "text" name = "measurement_percent_inside" placeholder = "Процент наполненности" />
									</div>
									<div class='row'>
										<input type = 'submit' value = "Добавить"  class="juicy_button"/>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-xs-12">
						<div class="container-fluid">
							<div class="row unload_button_percent">
								<span> Выгрузить в % </span>
							</div>
							<div class="row hidden_menu" id = "new_unload_info_percent">
								<form action = '{% url "control_measure:unload_bin_percent" a_bin.bin_id %}' method = "post" >
									{% csrf_token %}
									<div class="row">
										<input type="text" name = "unload_date_percent" placeholder = "Дата" id = "date_of_upload_percent" />
									</div>
									<div class="row">
										<input type="text" name = "unload_time_percent" placeholder = "Время" id = "time_of_upload_percent" />
									</div>
									<div class='row'>
										<button type = 'button' class="juicy_button" id = "button_unload_current_percent"> Сейчас </button>
									</div>
									<div class="row">
										<input type="text" name="unload_percent_before" placeholder="Процентов было" />
									</div>
									<div class="row"> 
										<input type="text" name="unload_percent_after" placeholder="Процентов осталось"/>
									</div>
									<div class="row"> 
										<input type="text" name="unload_bag_id" placeholder="Номер извлекаемого мешка"/>
									</div>
									<div class="row"> 
										<input type="text" name="unload_bag_id_new" placeholder="Номер нового мешка"/>
									</div>
									<div class='row'>
										<input type = 'submit' value = 'Выгрузить'  class="juicy_button"/>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-xs-12">
						<!-- 
						<div class="container-fluid">
							<div class="row add_volume">
								<span> Добавить Объём </span>
							</div>
							<div class="row">
								<form action = '{% url "control_measure:add_volume" a_bin.bin_id %}' method = "post" >
									{% csrf_token %}
									<div class="row">
										<input type="text" name = "volume_date" placeholder = "Дата" id = "date_of_volume" />
									</div>
									<div class='row'>
										<button type = 'button' id = "button_volume_current"> Сегодня </button>
									</div>
									<div class="row">
										<input type="text" name="volume" placeholder="Объём" />
									</div>
									<div class='row'>
										<input type = 'submit' value = 'Добавить'/>
									</div>
								</form>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>

		<div id="bin_module">
			<div class="container">
				<div class="row"><span> Тип контейнера: {{ a_bin.bin_type }}</span></div>
				<div class="row"><span> Высота: {{ a_bin.bin_type.type_heigth }} см</span></div>
				<div class="row"><span> Ширина: {{ a_bin.bin_type.type_width }} см</span></div>
				<div class="row"><span> Глубина: {{ a_bin.bin_type.type_length }} см</span></div>
				<div class="row"><span> Объём: {{ a_bin.bin_get_volume }} л</span></div>
			</div>
		</div>

		<div id="speed_module">
			<div class="container">
			<div class="row">
				<h1> Динамика скорости заполнения литров/сутки</h1>
			</div>
				<canvas id="myChart" width="800px" height="400"></canvas>
			</div>
		</div>

		<div id="history_modul">
			<div class="container">
				<div class="row">
					<h1>История контейнера</h1>
				</div>
				{% if a_bin.bin_get_events %}
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-xs-4 col-md-4"> Дата </div>
						<div class="col-xs-8 col-md-4"> Описание события </div>
						<div class="col-md-2"></div>
					</div>
					{% for event in a_bin.bin_get_events %}
						<div class="row">
						<div class="col-md-2"></div>
							<div class="col-xs-4 col-md-4"> {{ event.event_date }} </div>
							<div class="col-xs-8 col-md-4"> {{ event.event_description }} </div>
							<div class="col-md-2"></div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4 col-xs-12">
						<!--<div class="row add_event" id = "add_event">
							<span> Добавить событие </span>
						</div> -->
						<div class="row " id = "new_event_info">
							<form action = '{% url "control_measure:add_event" a_bin.bin_id %}' method = "post" >
								{% csrf_token %}
								<div class="row">
									<input type="text" name = "event_date" placeholder = "Дата" id = "date_of_event" />
								</div>
								<div class='row'>
									<button type = 'button' id = "button_event_current"> Сегодня </button>
								</div>
								<div class="row">
									<input type="textarea" name="event_description" placeholder="Что произошло?" />
								</div>
								<div class='row'>
									<input type = 'submit' value = 'Добавить'/>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>



</body>
</html>