<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<meta http-equiv='Content-Type' content = 'text/html; charset=utf-8' />
	<script src="http://yastatic.net/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="http://yastatic.net/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://yastatic.net/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel = 'stylesheet' type = 'text/css' href = '{% static "style.css" %}' /> 
    <script src= '{% static "script.js" %}'></script>	
    <script src= '{% static "Chart.js" %}'></script>	
    <script type="text/javascript">
    $(document).ready(function() {
    	var menuList = ["#bin_module", "#measurements_module", "#speed_module", "history_module"];
    	var bufferList = [$("#bin_module").detach(), $('#measurements_module'), $('#speed_module').detach(), $('#history_module').detach()];
    	function setActiveDivId (id_string) {
    		if (!($('div').is(id_string))) {
    			var this_index = 0;
    			for (var j = 0; j < menuList.length; j++) {
    				if (id_string == menuList[j])
    					this_index = j;
    			}
	    		for (var i = 0; i < menuList.length; ++i) {
	    			if ($('div').is(menuList[i])) {
	    				bufferList[i] = $(menuList[i]).detach();
	    				bufferList[this_index].appendTo('body');
	    			}
	    		}
	    	}
    	};
    	//var measurements_module_buffer = ;
    	//var	bin_buffer = $("#bin_module");
    	$('#bin_link').click(function(e){
	    		//measurements_module_buffer = $('div#measurements_module').detach();
	    		//bin_module_buffer.appendTo('#short_bin_info');
	    		setActiveDivId("#bin_module");	    	
    	});

    	$('#measurements_link').click(function(e){
    		//bin_module_buffer = $('div#bin_module').detach();
    		//measurements_module_buffer.appendTo('#short_bin_info');
    		setActiveDivId("#measurements_module");	
    	});

    	$('#history_link').click(function(e){
    		//bin_module_buffer = $('div#bin_module').detach();
    		//measurements_module_buffer.appendTo('#short_bin_info');
    		setActiveDivId("#history_module");	
    	});
    	

    	$('#speed_link').click(function(e){
    		//bin_module_buffer = $('div#bin_module').detach();
    		//measurements_module_buffer.appendTo('#short_bin_info');
    		var chartLabels = []
    		var chartData = []
    		setActiveDivId("#speed_module");
    		$.getJSON('{% url "control_measure:data_for_chart" a_bin.bin_id %}', function(data){
    			for (var i in data) {
    				chartLabels.push(data[i].month + "/" + data[i].day);
    				chartData.push(parseInt(data[i].pace));
    			}
    			console.log(chartData);
    			console.log(chartLabels);
    			addChart(chartLabels, chartData);
    		}, function(data) {
    			console.log('Error');
    		});
    		
    			
    	});


    	$('#button_volume_current').click(function(event){
			var now = new Date();
			var day = now.getDate();
			var mon = now.getMonth() + 1;
			var year = now.getFullYear();
			var current_date = year + "-" + mon + "-" + day;
			//alert(current_date);
			$('#date_of_volume').attr("value", current_date);
			$('#date_of_volume').attr("placeholder", "");
	});


    	function addChart (chartLabels, chartData) {
			var lineChartData = {
				labels : chartLabels,
				datasets : [
					
					{
						label: "My Second dataset",
						fillColor : "rgba(151,187,205,0.2)",
						strokeColor : "rgba(151,187,205,1)",
						pointColor : "rgba(151,187,205,1)",
						pointStrokeColor : "#fff",
						pointHighlightFill : "#fff",
						pointHighlightStroke : "rgba(151,187,205,1)",
						data : chartData
					}
				]
			}
			var ctx = document.getElementById("myChart").getContext("2d");
			myLine = new Chart(ctx).Bar(lineChartData, {
				 scaleShowGridLines : true,
			});
			//myChart.reDraw();
		};

   	});
    </script>
    <style type="text/css">
    	.short_bin_info {
    		margin: 2% 0;
    		padding-bottom: 2%;
    		border-bottom: 1px solid black;
    		text-align: center;
    	}
    	#speed_module, #history_module {
    		text-align: center;
    	}
    	#speed_module>h1 {
    		margin: 0;
    	}
    </style>
    <title>Наши контейнеры</title>
</head>
<body>

<!--Панель навигации -->


<nav class="navbar navbar-default" id = "top_nav_pannel">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand navbar-center" href="/control_measure">ZnaiK 1.4</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
       	<li><a href="#" id="bin_link">Контейнер</a></li>
       	<li><a href="#" id="measurements_link">Измерения</a></li>
       	<li><a href='#' id="speed_link">Скорость</a></li>
       	<li><a href="#" id="history_link">История</a></li>
        <li><a href="/control_measure">Назад</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container" id="short_bin_info">
	<div class="row">
		<div class="row short_bin_info">
			<div class="col-xs-3">
				<span>Адрес: {{ a_bin.bin_adress}}</span>
			</div>
			<div class="col-xs-3">
				<span>Скорость: {{ a_bin.bin_get_average_pace_per_day_output }}% в сутки</span>
			</div>
			<div class="col-xs-3">
				<span>Заполнен на: <span id = "bin_id">{{ a_bin.bin_get_current_fill_percentage }}%</span></span>
			</div>
			<div class="col-xs-3">
				<span>Вывоз: {{ a_bin.bin_get_upload_date }}</span>
			</div>
		</div>
	</div>
</div>
<!--Список измерений -->

<div id="measurements_module">
	<div class="container" id = "measurement_list">
		{% if a_bin.bin_get_last_five_measurements %}
			<div class="row">
				<div class="col-xs-4"> Дата </div>
				<div class="col-xs-4"> Уровень заполненности </div>
				<div class="col-xs-4"> Прогноз - Факт </div>
			</div>
			{%	for measurement in a_bin.bin_get_last_five_measurements %}
				<div class="row">
					<div class="col-xs-4"> {{ measurement.measurement_date }} </div>
					<div class="col-xs-4"> {{ measurement.measurement_get_percentage }}% </div>
					{% if measurement.measurement_error %}
						<div class="col-xs-4"> <span class = "measure_error"></span>% </div>
					{% else %}
						<div class="col-xs-4"> - </div>
					{% endif %}
				</div>
			{% endfor %}
		{% else %}
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6 col-xs-12">
					<h2>No avaliable measurements</h2>
				</div>
			</div>
			
		{% endif %}
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-12">
				<div class="container-fluid">
					<div class="row add_button_percent">
						<span> Измерение в % </span>
					</div>
					<div class="row hidden_menu" id = "new_measure_info_percent">
						<form action = '{% url "control_measure:add_measurement_percent" a_bin.bin_id %}' id = "form_add_percent" method = 'post' >
							{% csrf_token %}
							<div class='row'>
								<input type = "text" name="measurement_date_percent" id="date_of_measurement_percent" placeholder = "Дата" />
							</div>
							<div class='row'>
								<input type = "text" name="measurement_time_percent" placeholder = "Дата" id = "time_of_measurement_percent"/>
							</div>
							<div class='row'>
								<button type="button" id="current_date_percent">Сейчас</button>
							</div>
							<div class='row'>
								<input type = "text" name = "measurement_percent_inside" placeholder = "Процент наполненности" />
							</div>
							<div class='row'>
								<input type = 'submit' value = 'Добавить'/>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="container-fluid">
					<div class="row unload_button_percent">
						<span> Выгрузить в % </span>
					</div>
					<div class="row hidden_menu" id = "new_unload_info_percent">
						<form action = '{% url "control_measure:unload_bin_percent" a_bin.bin_id %}' method = "post" >
							{% csrf_token %}
							<div class="row">
								<input type="text" name = "unload_date_percent" placeholder = "Дата" id = "date_of_upload_percent" />
							</div>
							<div class="row">
								<input type="text" name = "unload_time_percent" placeholder = "Время" id = "time_of_upload_percent" />
							</div>
							<div class='row'>
								<button type = 'button' id = "button_unload_current_percent"> Сейчас </button>
							</div>
							<div class="row">
								<input type="text" name="unload_percent_before" placeholder="Процентов было" />
							</div>
							<div class="row"> 
								<input type="text" name="unload_percent_after" placeholder="Процентов осталось"/>
							</div>
							<div class='row'>
								<input type = 'submit' value = 'Выгрузить'/>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<!-- -->
				<div class="container-fluid">
					<div class="row add_volume">
						<span> Добавить Объём </span>
					</div>
					<div class="row">
						<form action = '{% url "control_measure:add_volume" a_bin.bin_id %}' method = "post" >
							{% csrf_token %}
							<div class="row">
								<input type="text" name = "volume_date" placeholder = "Дата" id = "date_of_volume" />
							</div>
							<div class='row'>
								<button type = 'button' id = "button_volume_current"> Сегодня </button>
							</div>
							<div class="row">
								<input type="text" name="volume" placeholder="Объём" />
							</div>
							<div class='row'>
								<input type = 'submit' value = 'Добавить'/>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="bin_module">
	<div class="container">
		<div class="row"><span> Тип контейнера: {{ a_bin.bin_type }}</span></div>
		<div class="row"><span> Высота: {{ a_bin.bin_type.type_heigth }} см</span></div>
		<div class="row"><span> Ширина: {{ a_bin.bin_type.type_width }} см</span></div>
		<div class="row"><span> Глубина: {{ a_bin.bin_type.type_length }} см</span></div>
		<div class="row"><span> Объём: {{ a_bin.bin_get_volume }} л</span></div>
	</div>
</div>

<div id="speed_module">
	<div class="container">
	<div class="row">
		<h1> Динамика скорости заполнения литров/сутки</h1>
	</div>
		<canvas id="myChart" width="800px" height="400"></canvas>
	</div>
</div>

<div id="history_module">
	<div class="container">
		<div class="row">
			<h1>История контейнера</h1>
		</div>
		{% if a_bin.bin_get_events %}
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-xs-4 col-md-4"> Дата </div>
				<div class="col-xs-8 col-md-4"> Описание события </div>
				<div class="col-md-2"></div>
			</div>
			{% for event in a_bin.bin_get_events %}
				<div class="row">
				<div class="col-md-2"></div>
					<div class="col-xs-4 col-md-4"> {{ event.event_date }} </div>
					<div class="col-xs-8 col-md-4"> {{ event.event_description }} </div>
					<div class="col-md-2"></div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4 col-xs-12">
				<div class="row add_event">
					<span> Добавить событие </span>
				</div>
				<div class="row hidden_menu" id = "new_event_info">
					<form action = '{% url "control_measure:add_event" a_bin.bin_id %}' method = "post" >
						{% csrf_token %}
						<div class="row">
							<input type="text" name = "event_date" placeholder = "Дата" id = "date_of_event" />
						</div>
						<div class='row'>
							<button type = 'button' id = "button_event_current"> Сегодня </button>
						</div>
						<div class="row">
							<input type="textarea" name="event_description" placeholder="Что произошло?" />
						</div>
						<div class='row'>
							<input type = 'submit' value = 'Добавить'/>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>





</body>
</html>